name: HelloWorld

on:
  push:
    branches:
       - main
       - develop
       - releases
       - hotfix

jobs:
  Hello:
    runs-on: ubuntu-latest

    steps:
      - name: Download the repository
        uses: actions/checkout@v2

      - name: Hello Push
        run: echo "Hello world from github actions on push"
